<powershell>
net stop wuauserv
sc config wuauserv start= disabled
reg add "HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion\WindowsUpdate\Auto Update" /v NoAutoUpdate /t REG_DWORD /d 1 /f net stop wuauserv
Invoke-WebRequest -Uri https://raw.githubusercontent.com/ansible/ansible/devel/examples/scripts/ConfigureRemotingForAnsible.ps1 -OutFile C:\ConfigureRemotingForAnsible.ps1
Rename-Computer -NewName windc
C:\ConfigureRemotingForAnsible.ps1 -ForceNewSSLCert -EnableCredSSP
Restart-Computer
</powershell>

