Welcome to the Skylight Workshop!

Here are the links to important sites:

Student Login  - http://{{ hostvars['docs'].ansible_host }}/users/
Lab Slide Deck - http://{{ hostvars['docs'].ansible_host }}/decks/

Administration - http://{{ hostvars['docs'].ansible_host }}/users/list.php

Additionally, you can view the inventories which were generated on the fly.
